@charset "UTF-8";
* {
	margin:0;
	padding:0;
}

#menu {
	height:100%;
	left:0;
	margin:2%;
	padding:0;
	position:fixed;
	_position:absolute;
	top:0;
	width:20%;
}

#main {
	margin:0 0 0 0;
	_overflow:auto;
	padding:0;
}



body {
	margin:2%;
	_overflow:hidden;
	padding:0;
	background-image: url("picture/BackGround.png");/* 背景画像を付ける */
	font-family: 'メイリオ';/*フォントをメイリオに変更*/
	font-size: 12pt; /*フォントサイズを12ptに*/
	color: white;
}
a href{
	outline: border: 4px solid black;
}
F {
	font-size: 16pt; /*フォントサイズを14ptに*/
}
a:link {color:black;} /*未訪問のリンクの色*/
a:visited {color:black;} /*訪問済みのリンクの色*/
a:hover {color:#ffffff; background:silver;} /*カーソルが乗っているリンクの色*/
a:active {color:#ffff00;} /*クリック中のリンクの色*/



table.about {
	border:1px solid;
	border-collapse: collapse;
	border-color: black;
	width:40%;
	font-size: 12pt; /*フォントサイズを12ptに*/
	color: black;
}

.about td {
	border:1px solid;
	border-color: black;
	background-color: Salmon;
	padding: 0% 2%;
	white-space: nowrap;
}

.about th {
	border:1px solid;
	border-color: black;
	background-color: Tomato;
	padding: 0% 2%;
	white-space:nowrap;
}

table.menu {
	border:1px solid;
	border-collapse: collapse;
	width:60%;
	font-size: 12pt; /*フォントサイズを12ptに*/
	color:black;
}

.menu td {
	border:1px solid;
	background-color: Salmon;
	padding: 0% 2%;
	white-space: nowrap;
	text-align:left;
}

table.download {
	border:1px solid;
	border-collapse: collapse;
	border-color: black;
	width:40%;
	font-size: 12pt; /*フォントサイズを12ptに*/
	color: black;
}

.download td {
	border:1px solid;
	border-color: black;
	background-color: Salmon;
	padding: 0% 2%;
	white-space: nowrap;
	text-align:center;
}


.download th {
	border:1px solid;
	border-color: black;
	padding: 0% 2%;
	background-color: Tomato;
	white-space:nowrap;
}

table.story {
	border:1px solid;
	border-collapse: collapse;
	width:70%;
	font-size: 12pt; /*フォントサイズを12ptに*/
	color:black;
}
.story th {
	border:1px solid;
	border-color: black;
	padding: 0% 2%;
	background-color: Tomato;
	white-space:nowrap;
}

.story td {
	border:1px solid;
	background-color: Salmon;
	padding: 0% 2%;
	white-space: nowrap;
	text-align:center;
}


table.Chara {
	border:1px solid;
	border-collapse: collapse;
	width:60%;
	font-size: 12pt; /*フォントサイズを12ptに*/
	color:black;
}

.Chara td {
	border:1px solid;
	background-color: Salmon;
	padding: 0% 2%;
	white-space: nowrap;
}

.Chara th {
	border:1px solid;
	background-color: Tomato;
	padding: 0% 2%;
	white-space:nowrap;
}

table.ScreenShot {
	border:1px solid;
	border-collapse: collapse;
	width:50%;
	font-size: 12pt; /*フォントサイズを12ptに*/
	color:black;
}

.ScreenShot td {
	border:1px solid;
	background-color: Salmon;
	padding: 0% 0%;
	white-space: nowrap;
}

.ScreenShot th {
	border:1px solid;
	background-color: Tomato;
	padding: 0% 2%;
	white-space:nowrap;
}

table.Help {
	border:1px solid;
	border-collapse: collapse;
	width:75%;
	font-size: 12pt; /*フォントサイズを12ptに*/
	color:black;
	text-align:center;
}

.Help td {
	border:1px solid;
	background-color: Salmon;
	padding: 0% 2%;
	white-space: nowrap;
}

.Help th {
	border:1px solid;
	background-color: Tomato;
	padding: 0% 2%;
	white-space:nowrap;
}

A { outline: 1px dotted gray; }

BODY, TH, TD { line-height: 200%; }

td.col1{ width:60%; }
td.col2{ width:40%; }

textarea {  
	resize: none;  
}  
